{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block styles %}
{% endblock %}
{% block content %}
    <div class="main-container text-colour">
        <div class="feedback">
            <p class="lead my-3">Hey there! If you'd like to get in touch, please use the form below 👇</p>
            {% from "bootstrap5/form.html" import render_form %}
            <form method="POST">
                {{ contact_form.hidden_tag() }}
                <input type="hidden" name="contact_submit" value="1">
                {{ render_form(contact_form) }}
            </form>
        </div>
        <br>
        <br>
    </div>
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>
{% endblock %}
{% block scripts %}
{% endblock %}