{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block styles %}
{% endblock %}
{% block content %}
    <div class="main-container text-colour">
        <div class="new-top-content">
            <div class="wrapper-event-hub-logo">
                <div class="event-hub-logo" style="text-align: center; padding-right: 10px;">
                    <a href="{{ url_for('main.index') }}">
                    <img src="{{ url_for('static', filename = 'images/MelbourneGigs.png') }}" style="width: 300px; height: 190px; border-radius: 10px">
                    </a>
                    <br>
                    <br>
                    <p>
                        <em>Connecting you to your next good memory </em> 🙌
                    </p>
                </div>
            </div>
            <div class="gig-filter-wrapper" style="padding-left: 20px;">
                <br>
                <h1 style="color: antiquewhite; text-align: center;">Upcoming Gigs</h1>
                <hr>
                <form action="{{ url_for('main.gigs') }}" method="POST" class="text-colour gig-filter-form">
                    {{ form.csrf_token }}
                    <p class='form-label'>
                        {{ form.start_date.label }} <br>{{ form.start_date(class='datepicker', min = current_date) }} {{ form.hidden_tag() }}
                    </p>
                    <p class="form-label">    
                        {{ form.end_date.label }} <br>{{ form.end_date(class='datepicker', min = current_date) }} {{ form.hidden_tag() }}
                    </p>
                    <div class="multiple-fields">
                        <p class='form-label'>
                            {{ form.venue_filter.label }} <br>{{ form.venue_filter(class="form-control") }} {{ form.hidden_tag() }}
                        </p>
                        <p class='form-label'>
                            {{ form.genre_filter.label }} <br>{{ form.genre_filter(class="form-control") }} {{ form.hidden_tag() }}
                        </p>
                    </div>
                    <p class="form-label">    
                        {{ form.just_in.label }}
                        {% for subfield in form.just_in %}
                            <label class="radio-inline">
                                <br>{{ subfield() }} {{ subfield.label.text }}
                            </label>
                        {% endfor %}
                        {{ form.hidden_tag() }}
                    </p>
                    <p class='form-label'>
                        {{ form.search_field.label }} <br>{{ form.search_field(size=30) }} {{ form.hidden_tag() }}
                    </p>
                    <div class="gig-filter-submission">
                        <button class='btn btn-primary mb-3' type="submit" name="gig_filter_submit">{{ form.submit.label }}</button>
                        <button class='btn btn-primary mb-3' type="submit" formaction="{{ url_for('main.refresh_filters') }}">Refresh</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <table id="gig-data" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="colname gig-col"></th>
                    <th scope="col" class="colname gig-col">Event</th>
                    <th scope="col" class="colname gig-col">When</th>
                    <th scope="col" class="colname gig-col">Where</th>
                    <th scope="col" class="colname gig-col">Genres</th>
                    <th scope="col" class="colname gig-col">Artist Popularity</th>
                    <th scope="col" class="colname gig-col"></th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr style="text-align: center;">
                        <td>
                            <a href="{{ row['Link'] }}" target="_blank">
                                <img class="event-image" src="{{ row['Image'] }}">
                            </a>
                        </td>
                        <td><a href="{{ row['Link'] }}" target="_blank" style="text-decoration: none;"><b>{{ row['Title'] }}</b></a></td>
                        <td data-label="When" data-sort="{{ row['Date'] }}">{{ row['Date_Formatted'] }}</td>
                        <td data-label="Where">{{ row['Venue'] }}</td>
                        {% if row['genres'].replace("]", "").replace("[", "").replace("'", "").upper().strip() == "" %}
                            <td></td>
                        {% else %}
                            <td data-label="Genres">
                                {% if row['artist_id'] != '' or row['Artist_Certainty_Int'] > 70 %}
                                    {{ row['genres'].replace("]", "").replace("[", "").replace("'", "").upper() }}
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if row['followers'] == "" %}
                            <td></td>
                        {% else %}
                            <td data-label="Artist Popularity">
                                {{ followers_bar(row['followers_rank'], max_rank) | safe }}
                            </td>
                        {% endif %}
                        {% if row['artist_id'] == '' or row['artist_uri'] == '' %}
                            <td></td>
                        {% else %}
                            <td data-label="Links">
                                <div class="links">
                                    {% if row['artist_id'] != '' %}
                                        <a href="spotify:artist:{{ row['artist_id'] }}" target="_blank" class="icon">
                                            <i class="fab fa-spotify" style="color: #1DB954; font-size: 25px;"></i>
                                        </a>
                                        {% if row['youtube_url'] %}
                                            <a href="{{ row['youtube_url'] }}" target="_blank" class="icon">
                                                <i class="fab fa-youtube" style="color: #FF0000; font-size: 25px;"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
        
    </div>
{% endblock %}
{% block scripts %}
    <script>

        $(document).ready(function() {
            $('#gig-data').dataTable({
                paging: false,
                searching: false,
                info: false,
                columns: [
                    { orderable: false, searchable: false },
                    null,
                    null,
                    null,
                    null,
                    null,
                    { orderable: false, searchable: false },
                ],
                columnDefs: [{
                    targets: [5],
                    orderDataType: 'dom-data-score'
                }]
            });
        });

        $.fn.dataTable.ext.order['dom-data-score'] = function(settings, col) {
            return this.api().column(col, {order:'index'}).nodes().map(function(td, i) {
                return $(td).find('div').data('score');
            });
        };
    </script>
{% endblock %}