{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}
    <div class="container welcome-page">
        <div class="intro">
            <img src="{{ url_for('static', filename = 'images/MelbourneGigs.png') }}" style="width: 400px; height: 250px; border-radius: 10px;">
            <br>
            <br>
            <h1 style="color: antiquewhite; font-weight: 200;">Welcome to Melbourne // Naarm Gigs!</h1>
            <br>
            <p style="color: white;">Stop scrolling your socials for something to do 😘</p>
            <br>
            <a class="btn btn-primary btn-lg" href="{{ url_for('main.gigs') }}">Find Gigs</a>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
